<% provide(:title, @taxon.name) %>
<%= render 'light_upper', taxon_name: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <%= render 'sidebar', taxonomies: @taxonomies %>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filter' %>
        <div class="row">
          <!-- taxon.idにtaxonomies(categories/brand)が入った場合全ての商品を表示する。-->
          <% if @taxon.parent_id.blank? %>
            <% @products.each do |product| %>
              <div class="col-sm-4 col-xs-12">
                <div class="productBox">
                  <div class="productImage clearfix">
                    <%= link_to potepan_product_path(product.id) do %>
                      <%= image_tag(product.display_image.attachment(:large)) %>
                    <% end %>
                  </div>
                  <div class="productCaption clearfix">
                      <%= link_to potepan_product_path(product.id) do %>
                        <h5><%= product.name %></h5>
                        <h3><%= product.display_price %></h3>
                      <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% else %>
            <% @taxon.products.each do |product| %>
              <div class="col-sm-4 col-xs-12">
                <div class="productBox">
                  <div class="productImage clearfix">
                    <%= link_to potepan_product_path(product.id) do %>
                      <%= image_tag(product.display_image.attachment(:large)) %>
                    <% end %>
                  </div>
                  <div class="productCaption clearfix">
                      <%= link_to potepan_product_path(product.id) do %>
                        <h5><%= product.name %></h5>
                        <h3><%= product.display_price %></h3>
                      <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'light_lower' %>