<!DOCTYPE html>
<html>
  <head>
    <!-- SITE TITTLE -->
    <title><%= full_title(yield(:title)) %></title>
    <!-- META -->
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= render 'layouts/shim' %>
    <!-- PLUGINS CSS STYLE -->
    <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => 'reload' %>
  </head>
  <body>
    <div class="main-wrapper">
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
    <%= render 'layouts/login_signup' %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
